doctype xml
= '\n'
doctype plist
plist(version='1.0')
  dict
    key name
    string Comments
    key scope
    string source.njk,text.html.njk
    key settings
    dict
      key shellVariables
      array
        dict
          key name
          string TM_COMMENT_START
          key value
          string {#
        dict
          key name
          string TM_COMMENT_END
          key value
          string  #}
